@tailwind base;
@tailwind components;
@tailwind utilities;
/* animations.css */

@keyframes pulse {
	0% {
		transform: scale(1);
		color: #000;
	}
	50% {
		transform: scale(1.1);
		color: #f97316; /* Orange color */
	}
	100% {
		transform: scale(1);
		color: #000;
	}
}

.animate-pulse {
	animation: pulse 2s infinite;
}
